* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(212, 211, 216);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 600px;
  box-sizing: content-box;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}
